* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 680px;
  padding: 45px 15px 60px;
  text-align: center;
}

/* EKY DICE */

h1 {
  color: #ff6500;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 22px;
  text-shadow:
    0 0 5px #ff6500,
    0 0 15px #ff6500,
    0 0 30px #ff4500;
}

/* NUMBER KUTUSU */

.number-box {
  width: 100%;
  border: 3px solid #ff1010;
  border-radius: 13px;
  padding: 15px 18px 20px;
  box-shadow:
    0 0 8px #ff1010,
    inset 0 0 10px rgba(255, 0, 0, 0.15);
}

.section-title {
  color: #ff2020;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-shadow: 0 0 8px #ff0000;
}

.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.number {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 3px solid #ff1515;
  background: #000;
  color: #ff1515;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 0 7px #ff1515;
}

.number.active {
  background: #ff1515;
  color: #fff;
  box-shadow:
    0 0 12px #ff1515,
    0 0 28px #ff1515;
}

/* ROLL */

.roll-button {
  width: 100%;
  height: 78px;
  margin-top: 15px;
  border: 3px solid #ff1010;
  border-radius: 12px;
  background: #000;
  color: #ff1010;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 4px;
  cursor: pointer;
  box-shadow:
    0 0 8px #ff1010,
    inset 0 0 10px rgba(255, 0, 0, 0.15);
}

.roll-button:active {
  background: #ff1010;
  color: #fff;
}

/* BÜYÜK DAİRE */

.dice-circle {
  width: 430px;
  height: 430px;
  max-width: 82vw;
  max-height: 82vw;

  margin: 18px auto 0;

  border: 5px solid #ff1010;
  border-radius: 50%;

  background: #000;

  box-shadow:
    0 0 12px #ff1010,
    0 0 30px rgba(255, 0, 0, 0.35),
    inset 0 0 25px rgba(255, 0, 0, 0.12);

  display: grid;
  place-items: center;

  padding: 55px;

  transition: transform 0.7s ease;
}

/* İÇ YUVARLAKLAR */

.die-dot {
  width: 70px;
  height: 70px;

  border-radius: 50%;

  background: #000;
  border: 4px solid currentColor;

  box-shadow:
    0 0 10px currentColor,
    0 0 25px currentColor;

  transition: 0.1s;
}

/* 1 */

.dice-circle.count-1 {
  grid-template-columns: 1fr;
}

/* 2 */

.d
